doctype html
html(lang="en" ng-app)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js")
        title EduTel
        // Latest compiled and minified CSS
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        // Optional theme
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
        !=css
    body
        div.container-fluid
            !=contenido
            br
            div.panel.panel-primary
                div.panel-heading
                    div.row.center
                        div.col-xs-12
                            span.subtitulos Tecnologias
                div.panel-body
                    div.div_tecnologia
                        div.row.section
                            div.col-xs-2
                                a(href='https://nodejs.org/es/')
                                    img(src="cdn/img/tecnologias/javascript.png" )
                            div.col-xs-2
                                a(href='https://nodejs.org/es/')
                                    img(src="cdn/img/tecnologias/nodejs.png" )
                            div.col-xs-2
                                a(href='https://www.npmjs.com/')
                                    img(src="cdn/img/tecnologias/npm.png" )
                            div.col-xs-2
                                a(href='http://expressjs.com/es/')
                                    img(src="cdn/img/tecnologias/expressjs.png" )
                            div.col-xs-2
                                a(href='https://pugjs.org/api/getting-started.html')
                                    img(src="cdn/img/tecnologias/pug.png" )
                            div.col-xs-2
                                a(href='https://sass-lang.com/')
                                    img(src="cdn/img/tecnologias/sass.png" )
                        div.row.section
                            div.col-xs-2
                                a(href='https://getbootstrap.com/docs/3.3/')
                                    img(src="cdn/img/tecnologias/bootstrap.png" )
                            div.col-xs-2
                                a(href='https://angular.io/')
                                    img(src="cdn/img/tecnologias/angular.png" )
                            div.col-xs-2
                                a(href='https://git-scm.com/')
                                    img(src="cdn/img/tecnologias/git.png" )
                            div.col-xs-2
                                a(href='https://github.com/')
                                    img(src="cdn/img/tecnologias/github.png" )
                            div.col-xs-2
                                a(href='https://www.w3.org/XML/')
                                    img(src="cdn/img/tecnologias/xml.png" )
                            div.col-xs-2
                                a(href='https://www.w3.org/TR/soap/')
                                    img(src="cdn/img/tecnologias/soap.png" )
                        div.row.section
                            div.col-xs-2
                                a(href='https://es.wikipedia.org/wiki/Modelo%E2%80%93vista%E2%80%93controlador')
                                    img(src="cdn/img/tecnologias/mvc.jpg" )
                            div.col-xs-2
                                a(href='https://webpack.js.org/')
                                    img(src="cdn/img/tecnologias/webpack.png" )
    footer
        br
        center
            a.resaltar(href='https://github.com/EduTel/ws-nusoap-php') Github EduTel