<h1>estados.component.html</h1>
<!--<center></center>-->
<!--
<link rel="stylesheet" type="text/css" href="cdn/css/index.css">
<script src="cdn/js/view.js"></script>
<center>
  <div>
    <img class="mexico_icon_tiny" src="cdn/img/principal/mexico.png" alt="México">
    <span class="titulos"></span>
  </div>
</center>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <span class="subtitulos"></span>
      </div>
      <div class="col-xs-6">
        <div>
          <span>Busqueda:</span>
          <input type="text" ng-model="search_model" placeholder="">
        </div>
        <div>
          <span class="resaltar">Numero de registros encontrados: {{result}} </span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body cero_padding conteiner_1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Estados</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Municipios</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Colonia</li>
      </ol>
    </nav>
    <table class="table table-bordered">
      each fila in estados_p
          tr
          each object in fila
              each val, index in object
                  td
                      a(id=''+index)=val
      {{p_name}}!
    </table>
  </div>
</div>
-->
